{# Purpose of this template: Display search options #}
<input type="hidden" id="mUVideoModuleActive" name="active[MUVideoModule]" value="1" />
{% if active_collection is defined %}
    <div>
        <input type="checkbox" id="active_mUVideoModuleCollections" name="mUVideoModuleSearchTypes[]" value="collection"{% if active_collection %} checked="checked"{% endif %} />
        <label for="active_mUVideoModuleCollections">{{ __('Collections', 'muvideomodule') }}</label>
    </div>
{% endif %}
{% if active_movie is defined %}
    <div>
        <input type="checkbox" id="active_mUVideoModuleMovies" name="mUVideoModuleSearchTypes[]" value="movie"{% if active_movie %} checked="checked"{% endif %} />
        <label for="active_mUVideoModuleMovies">{{ __('Movies', 'muvideomodule') }}</label>
    </div>
{% endif %}
{% if active_playlist is defined %}
    <div>
        <input type="checkbox" id="active_mUVideoModulePlaylists" name="mUVideoModuleSearchTypes[]" value="playlist"{% if active_playlist %} checked="checked"{% endif %} />
        <label for="active_mUVideoModulePlaylists">{{ __('Playlists', 'muvideomodule') }}</label>
    </div>
{% endif %}
