# generated at Sun May 04 09:39:28 CEST 2014 by ModuleStudio 0.6.2 (http://modulestudio.de)
# ----------------------------------------------------------------------
# Purpose of file: give access to upload files treated in this directory
# ----------------------------------------------------------------------
deny from all
<FilesMatch "\.(swf,mp4,flv4)$">
    order allow,deny
    allow from all
</filesmatch>
