{# Purpose of this template: Display playlists within an external context #}
{% for playlist in items %}
    <h3>{{ playlist.getTitleFromDisplayPattern() }}</h3>
    <p><a href="{{ path('muvideomodule_playlist_display', { 'id': playlist.id }) }}">{{ __('Read more') }}</a>
    </p>
{% endfor %}
