{# Purpose of this template: Display movies in html mailings #}
{#
<ul>
{% for movie in items %}
    <li>
        <a href="{{ url('muvideomodule_movie_display', { 'id': movie.id }) }}
        ">{{ movie.getTitleFromDisplayPattern() }}</a>
    </li>
{% else %}
    <li>{{ __('No movies found.') }}</li>
{% endfor %}
</ul>
#}

{{ include('@MUVideoModule/ContentType/itemlist_movie_display_description.html.twig') }}
