{# Purpose of this template: Display playlists in html mailings #}
{#
<ul>
{% for playlist in items %}
    <li>
        <a href="{{ url('muvideomodule_playlist_display', { 'id': playlist.id }) }}
        ">{{ playlist.getTitleFromDisplayPattern() }}</a>
    </li>
{% else %}
    <li>{{ __('No playlists found.') }}</li>
{% endfor %}
</ul>
#}

{{ include('@MUVideoModule/ContentType/itemlist_playlist_display_description.html.twig') }}
