{# Purpose of this template: Display collections in html mailings #}
{#
<ul>
{% for collection in items %}
    <li>
        <a href="{{ url('muvideomodule_collection_display', { 'id': collection.id }) }}
        ">{{ collection.getTitleFromDisplayPattern() }}</a>
    </li>
{% else %}
    <li>{{ __('No collections found.') }}</li>
{% endfor %}
</ul>
#}

{{ include('@MUVideoModule/ContentType/itemlist_collection_display_description.html.twig') }}
